gym==0.26.2
gymnasium==1.0.0
keras==3.7.0
matplotlib==3.9.3
moviepy==2.1.1
mujoco==3.2.5
numpy==1.26.4
scipy==1.14.1

# if running on macOS
tensorflow-macos==2.16.2; sys_platform == "darwin"
tensorflow-metal==1.1.0; sys_platform == "darwin"

# if not running on macOS
tensorflow==2.16.2; sys_platform != "darwin"

